.layout {
  height: 100vh;
  .ant-layout-content {
    min-height: auto;
  }
  .logo {
    height: 80px;
    background: var(--pure);
  }
}

.ant-menu-light.ant-menu-inline .ant-menu-item {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 55px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.ant-menu-item.ant-menu-item-selected.ant-menu-item-selected {
  background-color: #005f86;
  color: var(--pure);
}

.ant-layout .ant-layout-sider {
  box-shadow: 19px 6px 15px -11px rgba(0, 0, 0, 0.1);
}

// menu Icon
.ant-layout
  .ant-layout-sider-zero-width-trigger {
  top: 10px;
  z-index: 10000;
  background-color: var(--secondary);
  // left: 25px;
}
